body {
	position: relative;
	-webkit-text-size-adjust: 100%;
	padding-left: 250px;
	overflow-x: hidden;
}
@media only screen and (max-width: 767px) {
  body {
    padding-left: 0px;
  }
  body.open-menu .banner {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  body.open-menu .wrap {
    pointer-events: none;
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
  }
}

.wrap {
  padding: 40px 30px;
  max-width: 880px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  -moz-transition: -moz-transform 200ms ease-in-out;
  -o-transition: -o-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out,-moz-transform 200ms ease-in-out,-o-transform 200ms ease-in-out,transform 200ms ease-in-out;
}
.wrap img {
	max-width: 100%;
}
@media (min-width: @screen-md-min) {
  .wrap {
  	padding: 40px 60px;
  }
}

.container {
	width: inherit;
	max-width: 880px;
	margin: 0 auto;
}

.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

@media (min-width: @screen-sm-min) {
	.half-gutter-row {
		margin-left:  -(@grid-gutter-width / 4);
		margin-right: -(@grid-gutter-width / 4);
	}
  	.half-gutter-col {
		padding-left:  (@grid-gutter-width / 4);
		padding-right: (@grid-gutter-width / 4);
  	}
}