/**
 * Header
 */
.banner {
	color: #92999C;
	position: fixed;
	background: #232830;
	z-index: 10;
	width: 250px;
	height: 100%;
	left: 0;
	float: left;
	font-size: 14px;
	line-height: 24px;
	border-right: 0px solid #000;
	-webkit-transition: -webkit-transform 200ms ease-in-out;
	-moz-transition: -moz-transform 200ms ease-in-out;
	-o-transition: -o-transform 200ms ease-in-out;
	transition: -webkit-transform 200ms ease-in-out,-moz-transform 200ms ease-in-out,-o-transform 200ms ease-in-out,transform 200ms ease-in-out;
}
.header-wrap {
	height: 100%;
	width: 100%;
	padding-bottom: 20px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

}
.navbar-brand-img {
	padding: @padding-header-horizontal @padding-header-vertical;
	background-color: #020203;
	display: block;
}

/**
 * Navigations
 */
.nav {
	padding-top: 25px;
	line-height: 24px;
}
.menu-primary {
	a {
		color: #fff;
	}
	.sub-menu {
		padding: 0;
		list-style: none;
		li a {
			display: block;
			padding: @padding-header-horizontal @padding-header-vertical;
			font-size: 14px;
		}
	}
}

.nav li a:hover, .nav li a:focus {
  	background-color: #020203;
	-webkit-transition: background-color .4s ease;
	-moz-transition: background-color .4s ease;
	-o-transition: background-color .4s ease;
	-ms-transition: background-color .4s ease;
	transition: background-color .4s ease;
}
.nav > li > a {
	padding: @padding-header-horizontal @padding-header-vertical;
}


.navbar-docs {
	> ul > li a {
		color: #fff;
		font-size: 14px;
	}
	ul ul li a {
		color: #ccc;
		font-size: 12px;
	}
	li {
	}
}

.navbar-docs li.active > a {
  background-color: #020203;
  border-right: solid 8px #5b90bf;
}
.navbar-docs ul ul {
	display: none;
}
.navbar-docs ul li.active ul {
	display: block;
}
.navbar-docs .sub-menu span {
	width: 10px;
	display: inline-block;
}
.navbar-docs > ul > li a:hover, .navbar-docs ul ul li a:hover,
.navbar-docs > ul > li a:focus, .navbar-docs ul ul li a:focus {
    border-right: solid 8px #5b90bf;
}
.navbar-docs ul .sub-menu li,
.navbar-docs li .sub-menu li {
  margin-left: 0px;
}

/**
 * Toggle mobile menu
 */
.banner .toggle-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.banner .toggle-menu li {
  list-style: none;
  height: 4px;
  margin-bottom: 4px;
  display: block;
  background-color: #fafafa;
}
.banner .toggle-menu li:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .banner {
    width: 250px;
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  .banner .toggle-menu {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: -40px;
    background-color: #232830;
  }
}

/**
 * Main search field
 */
.search-main .form-control {
	width: 100%;
}
@media (min-width: 768px) {
	.headline .navbar-form {
		padding: 0;
	}
}
.search-main {
	position: relative;
	z-index: 2;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.search-main .search-form-group {
	position: relative;
}
.search-main .search-form-group .icon-Magnifi-Glass2 {
	font-size: 16px;
	position: absolute;
	left: 9px;
	opacity: .7;
}
.headline .search-main .search-form-group .icon-Magnifi-Glass2 {
	top: 13px;
}
.search-main input {
	padding-left: 30px;
	color: #666;
}
.search-main input::-webkit-input-placeholder {
   color: #999;
}

.search-main input:-moz-placeholder { /* Firefox 18- */
   color: #999;
}

.search-main input::-moz-placeholder {  /* Firefox 19+ */
   color: #999;
}

.search-main input:-ms-input-placeholder {  
   color: #999;
}


/**
 * Live search
 */
.autocomplete-suggestions {
  border: 1px solid rgba(52, 73, 94, 0.1); 
  background: #FFF; 
  cursor: default; 
  overflow: auto; 
  overflow-y: scroll;
  overflow-x: hidden; 
}
.autocomplete-suggestion { 
  padding: 9px 10px; 
  overflow: hidden; 
  border-bottom: 1px solid rgba(52, 73, 94, 0.05); 
}
.autocomplete-suggestion h4{ 
  font-size: 16px;
  line-height:1.3em;
  margin: 5px 0; 
  font-weight: 400;
  color: #666;
}
.autocomplete-suggestion p{ 
  float: right;
  line-height: 11px;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #bbb;
  margin: 5px 0 0 0;
  text-align: center;
  min-width: 40px;
  padding: 6px 5px 6px;
  border-radius: 3px;
  color: #fff;
}
.autocomplete-selected { background: WhiteSmoke; }

